@import url('https://fonts.cdnfonts.com/css/netflix-font');
*{
    padding: 0;
    margin: 0;
    overflow-x: hidden  ;
}
.main{

    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(assets/images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 101vh;
    backdrop-filter: blur(10px);
    width: 100vw;
    /* box-shadow: 0px 39px 204px 49px rgba(0,0,0,0.91) inset;
    -webkit-box-shadow: 0px 39px 204px 49px rgba(0,0,0,0.91) inset;
    -moz-box-shadow: 0px 39px 204px 49px rgba(0,0,0,0.91) inset;     */
    border-bottom: 10px solid #232323;
}
.logo img{
    filter: brightness(85%);    
}
main{
    height: calc(100% - 140px) ;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
main h1{
    width: 76%;
    font-weight: 900;
}
.main form input{
    background-color: rgba(0, 0, 0, 0.712);
}